<!DOCTYPE html>
<html>
  <head>
    <title>{{meta_title}}</title>
    {{> meta}}
    <meta name="google-site-verification" content="UTiaAMBj6OKBtNM-KP1i4Jb2BVguPtcldTQ92sDL4eM" />
    <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600%7CRoboto+Slab:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{asset "css/uno-zen.css"}}" />
    {{ghost_head}}
  </head>
  <body class="{{body_class}}">

    <!-- - Facebook JS SKD
============================== -->

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=753203161390474";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- ============================== -->


    {{> aside}}
    <main>
      <section id="search-results"></section>
      <section class="content">
        {{{body}}}
        {{> footer}}
      </section>
    </main>
    {{ghost_foot}}
    <script src="{{asset "js/uno-zen.js"}}" type="text/javascript" charset="utf-8"></script>
    {{> google-analytics}}
  </body>
</html>
