{{!< default}}

{{#contentFor "meta"}}
    <meta property="og:url" content="{{@blog.url}}" />
    <meta property="og:title" content="Miguel Nieva - Comunidad de Profesionales" />
    <meta property="og:site_name" content="{{@blog.title}}" />
    <meta property="og:image" content="http://i.imgur.com/2W24GAF.jpg" />
    <meta property="og:description" content="Experiencias y consejos que te permiten encontrar tu mejor versión profesional."/>
    <meta property="fb:profile_id" content="mikenieva" />
    <meta property="fb:admins" content="mikenieva" />
    <meta property="fb:pages" content="285521064948889" />
{{/contentFor}}

<div id="encabezado-mobile">
 <h1 style="    position: fixed;
    top: 0;
    width: 100%;
    background: black;
    margin: 0;
    padding: 0;
    color: white;
    left: 0px;" class="blog-title"  id="posts-headline"><a href="http://miguelnieva.com" style="color: white;">Miguel Nieva</a></h1>
  <h2 style=" padding: 23px 0 10px;" class="blog-description">Sé tu mejor versión profesional.</h2>

  {{> encabezado-social}}
  {{> encabezado-navegacion}}
</div>  

{{> encabezado-newsletter}}
  
<ol id="posts-list">	
  {{#foreach posts}}
  <li>
    <div class="post-tag">
      <div class="post-image">
        <a href="{{url}}">
          <img src="{{image absolute="true"}}">
        </a>
      </div>
      <article class="post">
        <a href="{{url}}">
          <header class="post-header">
            <h2 class="post-title">{{{title}}}</h2>
          </header>
        </a>
        <span class="etiquetas">{{tags}}</span>
      </article>
    </div>
  </li>
  {{/foreach}}
</ol>
{{pagination}}
