{{!< default}}

<div id="encabezado-mobile">

  <h1 class="blog-title"  id="posts-headline">Miguel Nieva</h1>
  <h2 class="blog-description">Sé tu mejor versión profesional.</h2>
  <ul class="social">

    <!-- Facebook -->
    <li>
      <a rel="me" target="blank" href="https://facebook.com/miguelnieva.com" title="Mike Nieva en Facebook">
        <i class='icon icon-social-facebook' style="font-size: 30px;"></i>
        <span class="label"></span>
      </a>
    </li>

    <!-- Twitter -->
    <li>
      <a rel="me" target="blank" href="https://twitter.com/mikenieva" title="@mikenieva en Twitter">
        <i class='icon icon-social-twitter' style="font-size: 30px;"></i>
        <span class="label"></span>
      </a>
    </li>

    <!-- Linkedin -->
    <li>
      <a rel="me" target="blank" href="https://mx.linkedin.com/in/miguelnieva" title="Mike Nieva on LinkedIn">
        <i class='icon icon-social-linkedin' style="font-size: 30px;"></i>
        <span class="label"></span>
      </a>
    </li>

    <!-- Instagram -->
    <li>
      <a rel="me" target="blank" href="https://www.instagram.com/mikenieva/" title="Mike Nieva on LinkedIn">
        <i class='icon icon-social-instagram' style="font-size: 30px;"></i>
        <span class="label"></span>
      </a>
    </li>

    <!-- Youtube -->
    <li>
      <a rel="me" target="blank" href="https://www.youtube.com/watch?v=dPlRZdGT9YA&list=PLLE9LOZhgl9y8X9v5tq-OdafwDaCJvRnw" title="Mike Nieva on Youtube">
        <i class='icon icon-social-youtube' style="font-size: 30px;"></i>
        <span class="label"></span>
      </a>
    </li>
  </ul>

  <ul class="navegacion" style="">
    <a href="http://miguelnieva.com/">
      <li>Artículos</li>
    </a>
	<a href="http://miguelnieva.com/tag/agenda/">
		<li>Agenda</li>
    </a>
	<a href="http://miguelnieva.com/tag/cursos/">
		<li>Cursos</li>
  </a>
</ul>
</div>

<p class="mc-description" style="margin: 0;margin-bottom: 20px;">
  La mejor compilación de <strong>consejos profesionales,</strong> cada semana.
</p>



<div id="mc_embed_signup">
  <form action="//conexionew.us7.list-manage.com/subscribe/post?u=ed01cbcbb32aa86f232eb4854&amp;id=ea3a2d33d1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate" _lpchecked="1">
    <div class="indicates-required"><span class="asterisk"></span>
    </div>
    <div class="mc-field-group">    
      <input type="email" value="" placeholder="Tu email" name="EMAIL" class="required email valid" id="mce-EMAIL" aria-required="true" aria-invalid="false">
      <div for="mce-EMAIL" class="mce_inline_error" style="display: none;">Por favor, escribe una dirección de correo válida</div>
    </div>
    <div class="mc-field-group">    
      <input type="text" value="" placeholder="Tu nombre" name="FNAME" class="required valid" id="mce-FNAME" aria-required="true" aria-invalid="false">
      <div for="mce-FNAME" class="mce_inline_error" style="display: none;">Este campo es obligatorio.</div>
    </div>  
    <div id="mce-responses" class="clear">    
      <div class="response" id="mce-error-response" style="display:none"></div>    
      <div class="response" id="mce-success-response" style="display:none"></div>  
    </div>
    <div style="position: absolute; left: -5000px;">
      <input type="text" name="b_ed01cbcbb32aa86f232eb4854_ea3a2d33d1" tabindex="-1" value=""></div>
      <div class="clear" style="
      display: inline-block;
      vertical-align: top;">
        <input type="submit" value="Suscribirme" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>
  </form>
</div>

<ol id="posts-list">	
  {{#foreach posts}}
  <li>
    <div class="post-tag">
      <div class="post-image">
        <a href="{{url}}">
          <img src="{{image absolute="true"}}">
        </a>
      </div>
      <article class="post">
        <a href="{{url}}">
          <header class="post-header">
            <h2 class="post-title">{{{title}}}</h2>
          </header>
        </a>
        <span class="etiquetas">{{tags}}</span>
      </article>
    </div>
  </li>
  {{/foreach}}
</ol>


{{pagination}}
