{{!< default}}

<div id="encabezado-mobile">

<h1 style="text-align: center; color: black;" id="posts-headline">Miguel Nieva</h1>
<h2 style="text-align: center; border-bottom: none; color: black;">Sé tu mejor versión profesional.</h2>
<ul class="social expanded" style="text-align:center; margin: 0">

  <!-- Facebook -->
  <li class="social item" style="display: inline-block;box-shadow: 0 0 1px transparent;vertical-align: middle;">
    <a rel="me" target="blank" href="https://facebook.com/miguelnieva.com" title="Mike Nieva en Facebook">
      <i class='icon icon-social-facebook' style="font-size: 30px;"></i>
      <span class="label"></span>
    </a>
  </li>

  <!-- Twitter -->
  <li class="social item" style="display: inline-block;box-shadow: 0 0 1px transparent;vertical-align: middle;">
    <a rel="me" target="blank" href="https://twitter.com/mikenieva" title="@mikenieva en Twitter">
      <i class='icon icon-social-twitter' style="font-size: 30px;"></i>
      <span class="label"></span>
    </a>
  </li>

  <!-- Linkedin -->
  <li class="social item" style="display: inline-block;box-shadow: 0 0 1px transparent;vertical-align: middle;">
    <a rel="me" target="blank" href="https://mx.linkedin.com/in/miguelnieva" title="Mike Nieva on LinkedIn">
      <i class='icon icon-social-linkedin' style="font-size: 30px;"></i>
      <span class="label"></span>
    </a>
  </li>

  <!-- Instagram -->
  <li class="social item" style="display: inline-block;box-shadow: 0 0 1px transparent;vertical-align: middle;">
    <a rel="me" target="blank" href="https://www.instagram.com/mikenieva/" title="Mike Nieva on LinkedIn">
      <i class='icon icon-social-instagram' style="font-size: 30px;"></i>
      <span class="label"></span>
    </a>
  </li>

 <!-- Youtube -->
  <li class="social item" style="display: inline-block;box-shadow: 0 0 1px transparent;vertical-align: middle;">
    <a rel="me" target="blank" href="https://www.youtube.com/watch?v=dPlRZdGT9YA&list=PLLE9LOZhgl9y8X9v5tq-OdafwDaCJvRnw" title="Kikobeats on LinkedIn">
      <i class='icon icon-social-youtube' style="font-size: 30px;"></i>
      <span class="label"></span>
    </a>
  </li>
  </ul>

<ul style="text-align:center; margin:0;">
	<a href="http://miguelnieva.com/tag/agenda/">
		<li style="display: inline-block;
    	color: #4292AE;
    	border: 1px solid #4292AE;
    	padding: 5px 35px;
    	border-radius: 9px;
    	font-weight: 200;
    	font-size: 16px;">Agenda</li>
    </a>
	<a href="http://miguelnieva.com/tag/suscribete/">
		<li style="display: inline-block;
    	color: #4292AE;
    	border: 1px solid #4292AE;
    	padding: 5px 24px;
    	border-radius: 9px;
    	font-weight: 200;
    	font-size: 16px;">
    	Suscríbete</li>
    </a>
	<a href="http://miguelnieva.com/tag/cursos/">
		<li style="display: inline-block;
    	color: #4292AE;
    	border: 1px solid #4292AE;
    	padding: 5px 36px;
    	border-radius: 9px;
    	font-weight: 200;
    	font-size: 16px;">
    	Cursos</li>
    </a>
</ul>
</div>

<p style="
    margin: 0;
    margin-bottom: 20px;
">
  La mejor compilación de <strong>consejos profesionales,</strong> cada semana.
</p>

<!-- Begin MailChimp Signup Form --><link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css"><style type="text/css">
#mc_embed_signup .button {
clear: both;
background-color: #4091AE;
border: 0 none;
border-radius: 4px;
color: #FFFFFF;
cursor: pointer;
display: inline-block;
font-size: 15px;
font-weight: bold;
height: 32px;
line-height: 32px;
margin: 0 5px 10px 0;
padding: 0 22px;
text-align: center;
text-decoration: none;
vertical-align: top;
white-space: nowrap;
width: auto;
} 
#mc_embed_signup form {
display: block;
position: relative;
text-align: left;
padding: 10px 0 10px 0%;
}


    
#mc_embed_signup #mce-success-response {
color: #166A87;
font-weight: normal;
font-family: 'Open sans';
font-size: 14px;
}
#mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif; margin-top:30px;} 
#mc_embed_signup .mc-field-group {clear: left;
    position: relative;
    width: 20%;
    padding-bottom: 3%;
    min-height: 50px;
    display: inline-block;
    padding-right: 25px;}
#mc_embed_signup div#mce-responses {
float: left;
top: -1.4em;
padding: 0 !important;
overflow: hidden;
width: 90%;
margin: 0 !important;
clear: both;
}
#mc_embed_signup div.mce_inline_error {
margin: 0 0 1em 0;
padding: 5px 10px;
background-color: #D9D4DA;
font-weight: bold;
z-index: 1;
color: #fff;
font-size: 11px;
font-weight: normal;
}
</style>
<div id="mc_embed_signup"><form action="//conexionew.us7.list-manage.com/subscribe/post?u=ed01cbcbb32aa86f232eb4854&amp;id=ea3a2d33d1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate" _lpchecked="1"><div class="indicates-required"><span class="asterisk"></span>
</div>

<div class="mc-field-group">    

  <input type="email" value="" placeholder="Tu email" name="EMAIL" class="required email valid" id="mce-EMAIL" aria-required="true" style="cursor: auto; background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; background-repeat: no-repeat; text-indent: 5%;" aria-invalid="false">

<div for="mce-EMAIL" class="mce_inline_error" style="display: none;">Por favor, escribe una dirección de correo válida</div></div>

<div class="mc-field-group">    
  <input type="text" value="" placeholder="Tu nombre" name="FNAME" class="required valid" id="mce-FNAME" aria-required="true" aria-invalid="false" style="text-indent: 5%;">

    <div for="mce-FNAME" class="mce_inline_error" style="display: none;">Este campo es obligatorio.</div></div>  
    <div id="mce-responses" class="clear">    
      <div class="response" id="mce-error-response" style="display:none"></div>    
      <div class="response" id="mce-success-response" style="display:none"></div>  
    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->    
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_ed01cbcbb32aa86f232eb4854_ea3a2d33d1" tabindex="-1" value=""></div>    <div class="clear" style="
    display: inline-block;
    vertical-align: top;
"><input type="submit" value="Suscribirme" name="subscribe" id="mc-embedded-subscribe" class="button"></div></form></div>




<ol id="posts-list">	
  {{#foreach posts}}
  <li>
    <div class="post-tag" style="margin-left: 0px;  width: 100%; vertical-align: top; padding-top: 0px; color: rgb(255, 255, 255); display: block;margin-bottom: 70px;">
                <div style="display: inline-block;width: 20%;padding: 5px;background: white;line-height: 15px;">
                    <a href="{{url}}" style="display: inline-block;">
                        <img src="{{image absolute="true"}}" style="width:100%;">
                    </a>
                </div>
                <article class="post tag-liderar" style="display: inline-block;width: 65%;vertical-align: top;padding: 0 15px;">
                    <a href="{{url}}">
                        <header class="post-header" style="padding-bottom: 1rem;">
                            <h2 class="post-title" style="font-size: 23px;margin: 0;">{{{title}}}</h2>
                        </header>
                    </a>
                    <span class="etiquetas">
                          {{tags}}
                    </span>
                </article>
            </div>


  </li>
  {{/foreach}}
</ol>


{{pagination}}
