{{!< default}}

{{#contentFor "meta"}}
    <meta property="og:url" content="{{@blog.url}}" />
    <meta property="og:title" content="Miguel Nieva - Comunidad de Profesionales" />
    <meta property="og:site_name" content="{{@blog.title}}" />
    <meta property="og:image" content="http://i.imgur.com/2W24GAF.jpg" />
    <meta property="og:description" content="Experiencias y consejos que te permiten encontrar tu mejor versión profesional."/>
    <meta property="fb:profile_id" content="mikenieva" />
    <meta property="fb:admins" content="mikenieva" />
    <meta property="fb:pages" content="285521064948889" />
{{/contentFor}}

<div id="encabezado-mobile">
 <h1 style="    position: fixed;
    top: 0;
    width: 100%;
    background: black;
    margin: 0;
    padding: 0;
    color: white;
    left: 0px;" class="blog-title"  id="posts-headline"><a href="http://miguelnieva.com" style="color: white;">Miguel Nieva</a></h1>
  <h2 style=" padding: 23px 0 10px;" class="blog-description">Sé tu mejor versión profesional.</h2>

  {{> encabezado-social}}
  {{> encabezado-navegacion}}
</div>  

{{> encabezado-newsletter}}

<section>
            <div class="categorias" style="
    margin: 1em 0 3em;
    width: 100%;
    display: block;
    border: solid 1px #4091AE;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
">
                
<div style="
    width: 8em;
    display: inline-block;
    margin-bottom: 0px;
    padding: 1em 0em;
    margin-right: 0%;
">
<div style="
    text-align: center;
    color: #4091AE;
">
<span class="fi-battery-full" style="
    text-align: center;
"></span>
</div>
<a href="http://miguelnieva.com/tags/profesionalesweb" style="
    margin: 0.5em 0 0.98rem;
    padding-bottom: 30px;
    color: #4091AE;
    width: 100px;
">
                    
                    <p style="
    margin: 0;
    font-size: 16px;
    text-align: center;
">Profesionales Web</p>
                </a>
</div>
<div style="
    width: 8em;
    margin-bottom: 0px;
    display: inline-block;
    margin-right: 0%;
    padding: 1em 0em;
">
<div style="
    text-align: center;
    color: #4091AE;
">
<span class="fi-torsos-all" style="
    text-align: center;
"></span>
</div>
<a href="http://miguelnieva.com/tags/negocios10x" style="
    margin: 0.5em 0 0.98rem;
    border-bottom: solid 1px #4091AE;
    padding-bottom: 30px;
    color: #4091AE;
    width: 100px;
">
                    
                    <p style="
    margin: 0;
    font-size: 16px;
    text-align: center;
">Negocios 10x</p>
                </a>
</div>
<div style="
    width: 8em;
    margin-bottom: 0px;
    padding: 1em 0em;
    display: inline-block;
">
<div style="
    text-align: center;
    color: #4091AE;
">
<span class="fi-map" style="
    text-align: center;
"></span>
</div>
<a href="http://miguelnieva.com/tags/hackerdevida" style="
    margin: 0.5em 0 0.98rem;
    border-bottom: solid 1px #4091AE;
    padding-bottom: 30px;
    color: #4091AE;
    width: 100px;
">
                    
                    <p style="
    margin: 0;
    font-size: 16px;
    text-align: center;
">Hacker de Vida</p>
                </a>
</div>
                
                

            
        </div>        
    </section>

<ol id="posts-list">	
  {{#foreach posts}}
  <li>
    <div class="post-tag">
      <div class="post-image">
        <a href="{{url}}">
          <img src="{{image absolute="true"}}">
        </a>
      </div>
      <article class="post">
        <a href="{{url}}">
          <header class="post-header">
            <h2 class="post-title">{{{title}}}</h2>
          </header>
        </a>
        <span class="etiquetas">{{tags}}</span>
      </article>
    </div>
  </li>
  {{/foreach}}
</ol>
{{pagination}}
