{{!< default}}

<div id="encabezado-mobile">
  <h1 style="    position: fixed;
    top: 0;
    width: 100%;
    background: black;
    margin: 0;
    padding: 0;
    color: white;
    left: 0px;" class="blog-title"  id="posts-headline"><a href="http://miguelnieva.com" style="color: white;">Miguel Nieva</a></h1>
  <h2 style=" padding: 23px 0 10px;" class="blog-description">Sé tu mejor versión profesional.</h2>
  <div class="social" style="    margin: 0 22% 1rem;">

    <!-- Facebook -->
    <div>
      <a rel="me" target="blank" href="https://facebook.com/miguelnieva.com" title="Mike Nieva en Facebook">
        <i class='icon icon-social-facebook' style="font-size: 30px;"></i>
        <span class="label"></span>
      </a>
    </div>

    <!-- Twitter -->
    <div>
      <a rel="me" target="blank" href="https://twitter.com/mikenieva" title="@mikenieva en Twitter">
        <i class='icon icon-social-twitter' style="font-size: 30px;"></i>
        <span class="label"></span>
      </a>
    </div>

    <!-- Linkedin -->
    <div>
      <a rel="me" target="blank" href="https://mx.linkedin.com/in/miguelnieva" title="Mike Nieva on LinkedIn">
        <i class='icon icon-social-linkedin' style="font-size: 30px;"></i>
        <span class="label"></span>
      </a>
    </div>
  </div>

  <ul class="navegacion" style="">
    <a href="http://miguelnieva.com/">
      <li>Artículos</li>
    </a>
  <a href="http://miguelnieva.com/agenda/">
    <li>Agenda</li>
    </a>
  <a href="http://miguelnieva.com/cursos/">
    <li>Cursos</li>
  </a>
</ul>
</div>

<p class="mc-description" style="margin: 0;margin-bottom: 20px;">
  La mejor compilación de <strong>consejos profesionales,</strong> cada semana.
</p>



<div id="mc_embed_signup">
  <form action="//conexionew.us7.list-manage.com/subscribe/post?u=ed01cbcbb32aa86f232eb4854&amp;id=ea3a2d33d1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate" _lpchecked="1">
    <div class="indicates-required"><span class="asterisk"></span>
    </div>
    <div class="mc-field-group">    
      <input type="email" value="" placeholder="Tu email" name="EMAIL" class="required email valid" id="mce-EMAIL" aria-required="true" aria-invalid="false">
      <div for="mce-EMAIL" class="mce_inline_error" style="display: none;">Por favor, escribe una dirección de correo válida</div>
    </div>
    <div class="mc-field-group">    
      <input type="text" value="" placeholder="Tu nombre" name="FNAME" class="required valid" id="mce-FNAME" aria-required="true" aria-invalid="false">
      <div for="mce-FNAME" class="mce_inline_error" style="display: none;">Este campo es obligatorio.</div>
    </div>  
    <div id="mce-responses" class="clear">    
      <div class="response" id="mce-error-response" style="display:none"></div>    
      <div class="response" id="mce-success-response" style="display:none"></div>  
    </div>
    <div style="position: absolute; left: -5000px;">
      <input type="text" name="b_ed01cbcbb32aa86f232eb4854_ea3a2d33d1" tabindex="-1" value=""></div>
      <div class="clear" style="
      display: inline-block;
      vertical-align: top;">
        <input type="submit" value="Suscribirme" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>
  </form>
</div>

{{#post}}

  <article class="{{post_class}}">
    {{! Información sobre Post para el loop }}
        {{#contentFor "meta"}}
            <meta property="og:title" content="{{title}} - Miguel Nieva" />
            <meta property="og:site_name" content="{{@blog.title}}" />
            <meta property="og:description" content="{{excerpt characters="220"}}..."/>
            <meta property="og:image" content="{{@blog.url}}{{image}}">
            <meta property="article:author" content="https://facebook.com/mike.nieva" />
            <meta property="article:published_time" content="{{date format="YYYY-MM-DD"}}" />{{#foreach tags}}
            <meta property="article:tag" content="{{name}}" />{{/foreach}}
            <meta property="fb:profile_id" content="mikenieva" />
            <meta property="fb:admins" content="mikenieva" />
        {{/contentFor}}
    <header>
      <div class="post meta">
        <h1 id="post-title">{{{title}}}</h1>
        <div class="block-socialbuttons">

        <!-- Facebook Share Button -->

        <div class="socialbutton facebookbutton">
          <div class="fb-share-button" data-href="{{url}}" data-layout="button_count" data-mobile-iframe="true"></div>
        </div>

        <!-- Twitter Tweet Button -->

        <div class="socialbutton twitterbutton">
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="mikenieva">
                Tweet
            </a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
                </script>
        </div>

    
    </div>

        {{!> post-author}}
      </div>
        {{#if image}}<img id="post-image" src={{image}} alt="{{{title}}}">{{/if}}
    </header>

    <div id="post-content" class="{{post_class}}">
      {{content}}
    </div>

    <div class="post related">
      {{#prev_post}}
        <a rel="prev" id="prev-btn" class="btn small square" href="{{url}}">← {{title}}</a>
      {{/prev_post}}

      {{#next_post}}
        <a rel="next" id="next-btn" class="btn small square" href="{{url}}">{{title}} →</a>
      {{/next_post}}
    </div>

    {{> comments}}

  </article>

{{/post}}

<script type="text/javascript">
(function ( window, document, undefined ) {

  /*
   * Grab all iframes on the page or return
   */
  var iframes = document.getElementsByTagName( 'iframe' );

  /*
   * Loop through the iframes array
   */
  for ( var i = 0; i < iframes.length; i++ ) {

    var iframe = iframes[i],

    /*
       * RegExp, extend this if you need more players
       */
    players = /www.youtube.com|player.vimeo.com/;

    /*
     * If the RegExp pattern exists within the current iframe
     */
    if ( iframe.src.search( players ) > 0 ) {

      /*
       * Calculate the video ratio based on the iframe's w/h dimensions
       */
      var videoRatio        = ( iframe.height / iframe.width ) * 100;
      
      /*
       * Replace the iframe's dimensions and position
       * the iframe absolute, this is the trick to emulate
       * the video ratio
       */
      iframe.style.position = 'absolute';
      iframe.style.top      = '0';
      iframe.style.left     = '0';
      iframe.width          = '100%';
      iframe.height         = '100%';
      
      /*
       * Wrap the iframe in a new <div> which uses a
       * dynamically fetched padding-top property based
       * on the video's w/h dimensions
       */
      var wrap              = document.createElement( 'div' );
      wrap.className        = 'fluid-vids';
      wrap.style.width      = '100%';
      wrap.style.position   = 'relative';
      wrap.style.paddingTop = videoRatio + '%';
      
      /*
       * Add the iframe inside our newly created <div>
       */
      var iframeParent      = iframe.parentNode;
      iframeParent.insertBefore( wrap, iframe );
      wrap.appendChild( iframe );

    }

  }

})( window, document );
</script>