{{!< default}}

<div id="encabezado-mobile">
  <h1 style="    position: fixed;
    top: 0;
    width: 100%;
    background: black;
    margin: 0;
    padding: 0;
    color: white;
    left: 0px;" class="blog-title"  id="posts-headline"><a href="http://miguelnieva.com" style="color: white;">Miguel Nieva</a></h1>
  <h2 style=" padding: 23px 0 10px;" class="blog-description">Sé tu mejor versión profesional.</h2>
  {{> encabezado-social}}

<ul class="navegacion" style="">
    <a href="http://miguelnieva.com/">
      <li>Artículos</li>
    </a>
  <a href="http://miguelnieva.com/agenda/">
    <li>Agenda</li>
    </a>
  <a href="http://miguelnieva.com/cursos/">
    <li>Cursos</li>
  </a>
</ul>
</div>

<h1 style="text-align: center;">{{tag.name}}</h1>
  </section>
<div style="
    width: 45%;
    display: inline-block;
    vertical-align: top;
">  
<p style="
    margin: 0;
    margin-right: 15px;
    font-size: 16px;
">Muchas de las ideas que tienes <strong>NO</strong> son reales. <strong>Todo puede ser retado.</strong></p>
<p style="
    margin: 0;
    margin-right: 15px;
    font-size: 16px;
">Aprende a viajar mucho.</p>
<p style="
    margin: 0;
    margin-right: 15px;
    font-size: 16px;
">Rodéate de personas que buscan lo mismo que tú.</p>
<p style="
    margin: 0;
    margin-right: 15px;
    font-size: 16px;
">Escribe y lee descaradamente.</p>

    </div>

{{#tag}}

{{#if image}}

<div style="width: 30%;display: inline-block;margin-left: 8%;">
      <img src="{{@blog.url}}{{image}}" style="    width: 100%;
    padding: 5px;
    background: #fff;
    line-height: 15px;" alt="{{name}}">

<div>
  <a href="https://www.facebook.com/aaronbenitez">
<div style="
    display: inline-block;
    vertical-align: bottom;
">
<img src="http://www.aaronbenitez.com/wp-content/uploads/2015/11/FotoPerfil792-300x300.png" style="
    width: 21px;
    border-radius: 7px;
">
</div>
  <div style="
    display: inline-block;
    vertical-align: top;
"><p style="
    font-size: 16px;
    margin: 0;
    margin-left: 5px;
    text-decoration: underline;
    color: #4091AE;
  ">Sigue a Aarón Benítez.</p></div>
  
  </a>
</div>

<div>
  <a href="http://mikenieva.com">
<div style="
    display: inline-block;
    vertical-align: bottom;
">
<img src="http://flcchn.com/blog/wp-content/uploads/2015/01/medium-icon.jpg" style="
    width: 21px;
    border-radius: 7px;
">
</div>
  <div style="
    display: inline-block;
    vertical-align: top;
"><p style="
    font-size: 16px;
    margin: 0;
    margin-left: 5px;
    text-decoration: underline;
    color: #4091AE;
  ">Leéme en inglés.</p></div>
  
  </a>
</div>



    </div>

{{/if}}

{{/tag}}

<ol id="posts-list">  
  {{#foreach posts}}
  <li>
    <div class="post-tag">
      <div class="post-image">
        <a href="{{url}}">
          <img src="{{image absolute="true"}}">
        </a>
      </div>
      <article class="post">
        <a href="{{url}}">
          <header class="post-header">
            <h2 class="post-title">{{{title}}}</h2>
          </header>
        </a>
        <span class="etiquetas">{{tags}}</span>
      </article>
    </div>
  </li>
  {{/foreach}}
</ol>
{{pagination}}